.container {
    width: 100%;
    min-height: 300px;
    height: auto;
    background: var(--color-white);
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2em 1em 4em 1em;
}

.container>h1 {
    font-family: 'Montserrat-SemiBold' !important;
    margin-bottom: 1em;
}

.content-about{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card-news{
    background: var(--color-white);
    /* border-radius: 10px; */
    margin: 1em;
    display: flex;
    flex-flow: column;
    padding: 5px 1em;
    box-shadow: 0px 0px 3px 0px #00000033;
    border-left: 6px solid var(--bgc-primary);
    transition: all 0.3s ease-in-out;

}


@media (max-width: 1199px) {

    .content-about{
        
    }

}